$light: #F7F7F7;
$dark: #1A1A1A;

$primary-bg-color: #252525;

$secondary-bg-color: #C09578;

$light-bg-color: #FCF5EB;

$dark-bg-color: #101010;

$secondary-color: #6F6F70;

$emphasys: #EF3636;

$type-1: 'Montserrat';
