<form class='' action="" method='POST'>
  <h3 class=''>Cadastrar</h3>

  <p class=''>
    <div class="">
      <input id='email' class="" type="email" name='email' placeholder='Digite seu email'/>
    </div>
  </p>

  <p class=''>
    <div class="">
      <input id='password' class="" type="password" name='password' placeholder='Digite sua senha'/>
    </div>
  </p>

  <p class=''>
    <div class="">
      <button type="submit">Cadastrar</button>
    </div>
  </p>

  <p class=''>
    <div class="">
      Já tem cadastro? <a href="/signin">Signin</a>
    </div>
  </p>
</form>