<nav class="">
  <ul class="">
    <li class="">
      <a href="/">Home</a>
    </li>
    <li class="">
      <a href="/dashboard">Dashboard</a>
    </li>
    <li class="">
      <a href="/signin">Sign In</a>
    </li>
    <li class="">
      <a href="/signup">Sign Up</a>
    </li>
    <li class="">
      <a href="/lorem">404</a>
    </li>
  </ul>
</nav>