@use '../1-bases/mixins';
@use '../1-bases/variables';

#banners-container{
  padding: 0;

  .carousel-caption{
    bottom: 5em;
    padding: 1em;
    left: 12%;
    right: 12%;

    h5{
      font-size: 1.8em;
    }
  }
  
  @include mixins.responsive{
    
    #slider .carousel-item,
    #slider img{
      height: 600px;
    }
    
    .carousel-caption{
      left: 23%;
      right: 23%;
    }

    .carousel-caption h5{
      font-size: 4em;
    }
  }
}
