<section class=''>
  <div class='container'>
    <a class='btn' href='/'>Voltar</a>
    <h1>Hello World - Sequelize</h1>

    <div class='item'>
      <p class=''>{{user.name}}</p>
      <p class=''>{{user.occupation}}</p>
    </div>
  </div>
</section>